html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title-container {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  margin: 1rem;

  .recko-logo {
    height: 3.5rem;
    margin-right: auto;
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.3));
  }
}

.wordle-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  margin-top: 0.5rem;
  position: relative;
}

.wordle-title {
  font-size: 4vw;
  color: #ffffff;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.wordle-trophy {
  display: flex;
  margin-top: 1%;
}

.trophy-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  color: gold;
  cursor: pointer;  
  transition: transform 0.3s ease; 

  &:hover {
    transform: translateY(-50%) scale(1.3);  
  }
}

.wordle-divider {
  width: 99%;
  border: 1px solid #5c5b59;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wordle-grid {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.wordle-row {
  display: flex;
  gap: 5px;
}

.wordle-box {
  width: 50px;
  height: 50px;
  border: 1px solid #5c5b59;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-transform: uppercase;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 5px;
  max-width: 55%;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1%;
  padding-bottom: 0%;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 1.5rem;
  box-shadow: 0 0 20px rgba(31, 38, 135, 0.2);
  border: 1px solid rgba(31, 38, 135, 0.1);
}

.key,
.specialKey {
  background-color: rgba(33, 40, 142, 0.1);
  color: #fff;
  border: 2px solid rgba(31, 38, 135, 0.2);
  border-radius: 8px;
  height: 50px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  text-shadow: 0 0 5px rgba(31, 38, 135, 0.2);

  &:hover {
    background-color: rgba(31, 38, 135, 0.15);
    box-shadow: 0 0 10px rgba(31, 38, 135, 0.2);
    transform: translateY(-1px);
  }
}

.third-row {
  grid-template-columns: 1.5fr repeat(8, 1fr) 1.5fr;
  grid-column: span 11;
  display: grid;
  gap: 5px;
}

.flip-animation {
  animation: flip 0.5s forwards;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
    background-color: #ffffff;
  }
  100% {
    transform: rotateY(0deg);
  }
}

@media (max-width: 767px) {
  .wordle-title {
    font-size: 5vh;
  }

  .trophy-icon {
    font-size: 2rem;
  }

  .wordle-box {
    width: 15vw;
    height: 9vh;
    font-size: 4dvh;
  }

  .key {
    height: 13.6vw;
    font-size: 4dvw;
  }

  .specialKey {
    height: 13.6vw;
    width: 15vw;
    font-size: 3.8dvw;
  }

  .keyboard {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 5px;
    max-width: 95%;
    margin: 0 auto;
    margin-top: 3%;
  }

  .wordle-grid {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
  }
}

@media (max-width: 480px) {
  .wordle-header {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .trophy-icon {
    position: relative;
    right: auto;
    top: auto;
    transform: none;
    margin-top: 0.5rem;

    &:hover {
      transform: scale(1.3);
    }
  }

  html, body {
    height: 100vh; 
    overflow: hidden; 
  }

  .wordle-container {
    flex: 1; 
    overflow-y: auto; 
    padding-bottom: 20vh; 
  }
  

  .wordle-title {
    font-size: 5dvh;
  }

  .wordle-box {
    width: 14dvw;
    height: 8dvh;
    font-size: 4dvh;
  }

  .key {
    height: 16.6vw;
    font-size: 4vw;
  }

  .specialKey {
    height: 16.6vw;
    width: 13vw;
    font-size: 3.8vw;
  }

  .keyboard {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    max-width: 95%;
    bottom: 4dvh;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .wordle-grid {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.75dvh;
  }
}


@media (max-width: 393px) {
  .keyboard {
    position: fixed;
    display: grid;
    max-width: 95%;
    bottom: 4dvh;
    grid-template-columns: repeat(11, minmax(0, 33px)); 
  }

  .key {
    height: 14.6vw;
    font-size: 4vw;
  }

  .specialKey {
    height: 14.6vw;
    font-size: 3.8vw;
  }

  .third-row {
    grid-template-columns: 
      minmax(13.5%, 1.8fr)  
      repeat(8, minmax(0, 30px))  
      minmax(13.5%, 1.8fr);  
      justify-content: center;  
      gap: 1.1%;
  }
}
