<header class="wordle-header">
  <div class="title-container">
    <img src="assets/images/recko-pnged.png" alt="Rečko Logo" class="recko-logo" />
    <h1 class="wordle-title">Rečko</h1>
  </div>
  <i class="fa fa-trophy trophy-icon" aria-hidden="true" (click)="showWinRate()"></i>
</header>
<hr class="wordle-divider" />

<div class="wordle-container">
  <!-- Grid Section -->
  <div class="wordle-grid">
    <div class="wordle-row" *ngFor="let row of grid; let rowIndex = index">
      <div
        class="wordle-box"
        *ngFor="let box of row; let colIndex = index"
        [ngClass]="{ 'flip-animation': animateBox[rowIndex][colIndex] }"
        [ngStyle]="{ 'background-color': colors[rowIndex][colIndex] }"
      >
        {{ box }}
      </div>
    </div>
  </div>
</div>
  <!-- Keyboard Section -->
  <div class="keyboard">
    <!-- First row -->
    <button class="key" *ngFor="let letter of ['Љ', 'Њ', 'Е', 'Р', 'Т', 'З', 'У', 'И', 'О', 'П', 'Ш']"
      [ngStyle]="{ 'background-color': getKeyboardKeyColor(letter.toLowerCase()) }" (click)="typeCharacter(letter)">
      {{ letter }}
    </button>

    <!-- Second row -->
    <button class="key" *ngFor="let letter of ['А', 'С', 'Д', 'Ф', 'Г', 'Х', 'Ј', 'К', 'Л', 'Ч', 'Ћ']"
      [ngStyle]="{ 'background-color': getKeyboardKeyColor(letter.toLowerCase()) }" (click)="typeCharacter(letter)">
      {{ letter }}
    </button>

    <!-- Third row -->
    <div class="third-row">
      <button class="specialKey" (click)="submit()">ENTER</button>
      <button class="key" *ngFor="let letter of ['Џ', 'Ц', 'В', 'Б', 'Н', 'М', 'Ђ', 'Ж']"
        [ngStyle]="{ 'background-color': getKeyboardKeyColor(letter.toLowerCase()) }" (click)="typeCharacter(letter)">
        {{ letter }}
      </button>
      <button class="specialKey" (click)="deleteCharacter()">
        <i class="fa fa-angle-double-left"></i>
      </button>
    </div>
  </div>

<router-outlet />
